<!-- this is the css code for my color palette -->
/* Coolors Exported Palette - coolors.co/9fd6ed-f2f1f2-a87bb7-e0f2ff-ede6f2 */

/* HSL */
$color1: hsla(198%, 68%, 78%, 1);
$color2: hsla(300%, 4%, 95%, 1);
$color3: hsla(285%, 29%, 60%, 1);
$color4: hsla(205%, 100%, 94%, 1);
$color5: hsla(275%, 32%, 93%, 1);

/* RGB */
$color1: rgba(159, 214, 237, 1);
$color2: rgba(242, 241, 242, 1);
$color3: rgba(168, 123, 183, 1);
$color4: rgba(224, 242, 255, 1);
$color5: rgba(237, 230, 242, 1);